# Fichiers de configuration IDE
.idea/
.vscode/
# Environnement virtuel
venv/
.venv/
env/
.env/
#Secrets
.env
# Base de données
db.sqlite3
*.sqlite3
# Fichiers de cache Python
__pycache__/
*.pyc
# Fichiers media et statiques collectés
/media/
/static_root/ # ou le nom que vous avez défini dans STATIC_ROOT
# Logs
*.log
# Fichiers de configuration système
.well-know/ 