-i https://pypi.org/simple
amqp==5.3.1; python_version >= '3.6'
asgiref==3.8.1; python_version >= '3.8'
billiard==4.2.1; python_version >= '3.7'
celery[redis]==5.5.3; python_version >= '3.8'
certifi==2025.6.15; python_version >= '3.7'
charset-normalizer==3.4.2; python_version >= '3.7'
click==8.2.1; python_version >= '3.10'
click-didyoumean==0.3.1; python_full_version >= '3.6.2'
click-plugins==1.1.1.2
click-repl==0.3.0; python_version >= '3.6'
crispy-bootstrap5==2025.6; python_version >= '3.8'
cron-descriptor==1.4.5
deepl==1.22.0; python_full_version >= '3.6.2' and python_version < '4'
django==5.2.3; python_version >= '3.10'
django-celery-beat==2.8.1; python_version >= '3.8'
django-crispy-forms==2.4; python_version >= '3.8'
django-decouple==2.1
django-extensions==4.1; python_version >= '3.9'
django-formtools==2.5.1; python_version >= '3.8'
django-modeltranslation==0.19.16; python_version >= '3.9' and python_version < '4'
django-timezone-field==7.1; python_version >= '3.8' and python_version < '4.0'
flower==2.0.1; python_version >= '3.7'
humanize==4.12.3; python_version >= '3.9'
idna==3.10; python_version >= '3.6'
kombu[redis]==5.5.4; python_version >= '3.8'
mailjet-rest==1.5.1; python_version >= '3.10'
packaging==25.0; python_version >= '3.8'
pika==1.3.2; python_version >= '3.7'
pillow==11.3.0; python_version >= '3.9'
polib==1.2.0
prometheus-client==0.22.1; python_version >= '3.9'
prompt-toolkit==3.0.51; python_version >= '3.8'
python-crontab==3.2.0
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
pytz==2025.2
redis==5.2.1; python_version >= '3.8'
requests==2.32.4; python_version >= '3.8'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
sqlparse==0.5.3; python_version >= '3.8'
tornado==6.5.1; python_version >= '3.9'
tzdata==2025.2; python_version >= '2'
urllib3==2.5.0; python_version >= '3.9'
vine==5.1.0; python_version >= '3.6'
wcwidth==0.2.13
