{% extends 'base.html' %}
{% load i18n %}
{% block title %}l
{% trans "Gestion des bénéficiaires des dons" %} 
{% endblock %}

{% block content %}
    <h2>{% trans "Liste des bénéficiaires des dons" %} </h2>
    <p><a href="{% url 'create_beneficiaire' %}">{% trans "Ajouter un béneficiaire des dons" %}</a></p>
    <table>
        <thead>
            <tr>
                <th>{% trans "Nom du bénéficiaire" %}</th> 
            </tr>
        </thead>
        <tbody>
            {% for beneficiaire in beneficiaires %}
            <tr>
                <td>{{ beneficiaire.nom_beneficiaire  }}</td>
               <td><a href="{% url 'beneficiaire_update' beneficiaire.pk %}">{% trans "Modifier" %} </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}