{% extends 'base.html' %}
{% load i18n %}
{% block title %}l
{% trans "Gestion des tranches d'âges des visiteurs" %} 
{% endblock %}

{% block content %}
    <h2>{% trans "Liste des tranches d'âges des visiteurs" %} </h2>
    <p><a href="{% url 'create_tranche_age' %}">{% trans "Ajouter une tranche d'âges des visiteurs" %}</a></p>
    <table>
        <thead>
            <tr>
                <th>{% trans "Tranche d'âges des visiteurs" %}</th> 
            </tr>
        </thead>
        <tbody>
            {% for tranche_age in tranche_ages %}
            <tr>
                <td>{{ tranche_age.tranche_age }}</td>
                <td><a href="{% url 'tranche_age_update' tranche_age.pk %}">{% trans "Modifier" %} </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}