{% extends 'base.html' %}
{% load i18n %}
{% block title %}l
{% trans "Gestion des types de handicap" %} 
{% endblock %}

{% block content %}
    <h2>{% trans "Liste des types de handicaps" %} </h2>
    <p><a href="{% url 'create_types_handicap' %}">{% trans "Ajouter un type de handicap" %}</a></p>
    <table>
        <thead>
            <tr>
                <th>{%trans "Type de handicap" %}</th> 
            </tr>
        </thead>
        <tbody>
            {% for type_handicap in types_handicap %}
            <tr>
                <td>{{ type_handicap.type_handicap }}</td>
                <td><a href="{% url 'types_handicap_update' type_handicap.pk %}">{% trans "Modifier" %} </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}