{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="/static/css/comma_field.css">
<link rel="stylesheet" href="/static/css/popup_sweetAlert.css">
<link rel="stylesheet" href="/static/css/checkbox.css">
{% endblock %}

{% block title %}{%trans "Création d'un Greeter" %} {% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {%  crispy form %}
    </form>
{% endblock %}
