 /* Style pour le conteneur du champ de formulaire */
        .form-group {
            margin-bottom: 0.5rem; /* Marge en bas pour l'espacement entre les champs */
            padding-right: 20px; /* Marge à droite à l'intérieur du conteneur */
        }

        /* Style pour le champ de saisie */
        .form-control {
            width: 100%; /* Largeur maximale */
            font-size: 1rem;
            line-height: 1.5;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }

        /* Classe personnalisée pour ajouter une marge à droite au champ */
        .custom-margin {
            margin-right: 20px; /* Marge à droite du champ */
        }