{% extends "base.html" %}
{%load i18n %}

{% block title %}{% trans "Détails du Cluster" %} - {{ cluster.name_cluster }}{% endblock %}
{% block content %}
<h2>{{ title }}</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ cluster.name_cluster }}</h5>
        <p class="card-text">
            <strong>{% trans "Code" %} :</strong> {{ cluster.code_cluster }}<br>
            <strong>{% trans "Statut" %} :</strong> {{ cluster.get_statut_cluster_display }}<br>
            <strong>{% trans "Adresse" %} :</strong> {{ cluster.adress_cluster }}<br>
            <strong>{% trans "Description" %} :</strong> {{ cluster.desc_cluster }}<br>
            <strong>{% trans "Administrateur principal" %} :</strong>  {{ cluster.admin_cluster.first_name}}   {{ cluster.admin_cluster.last_name }}<br>
            <strong>{% trans "Pays de l'administrateur" %} :</strong> {{ cluster.country_admin_cluster }}<br>
            <strong>{% trans "Administrateur alternatif" %} :</strong>{{ cluster.admin_alt_cluster.first_name}} {{ cluster.admin_alt_cluster.last_name }}<br>
            <strong>{% trans "Pays de l'administrateur alternatif" %}:</strong> {{ cluster.country_admin_alt_cluster }}<br>
            <strong>{% trans "Nombre de participants" %}:</strong> {{ cluster.param_nbr_part_cluster }}<br>
            <strong>{% trans "Langues de communication" %}:</strong>
            {% for lang in cluster.langs_com.all %}
                {{ lang }}{% if not forloop.last %}, {% endif %}
            {% endfor %}<br>
            <strong>{% trans "URL  Paypal" %} : </strong>{{ cluster.paypal_cluster }}<br>
            <strong>{% trans "Sauvegarde des courriels" %} : </strong>{{ cluster.backup_mails_cluster }}<br>
            <strong>{% trans "URL de la bibliothèque des destinations" %} : </strong>{{ cluster.url_biblio_cluster }}<br>
            <strong>{% trans "URL de la bibliothèque du greeter" %} : </strong>{{ cluster.url_biblio_Greeter_cluster }}<br>
            <strong>{% trans "Liste des expériences Greeter" %} : </strong>
            {% for experience in cluster.experience_greeter.all %}
                {{ experience }}{% if not forloop.last %}, {% endif %}  
            {% endfor %}<br>
            <strong>{% trans "Liste des centres d'intêrets" %}: </strong>
            {% for interest in cluster.interest_center.all %}
                {{ interest }}{% if not forloop.last %}, {% endif %}
            {% endfor %}<br>
            <strong>{% trans "Liste des non réponses du Greeter" %} : </strong>
            {% for reason in cluster.reason_no_reply_greeter.all %}
                {{ reason }}{% if not forloop.last %}, {% endif %}
            {% endfor %}<br>
            <strong>{% trans "Liste des non réponses du visiteur" %} : </strong>
            {% for reason in cluster.reason_no_reply_visitor.all %}
                {{reason }}{% if not forloop.last %}, {% endif %}
            {% endfor %}<br>
            <strong>{% trans "Liste des notoriétés" %} : </strong>
            {% for notoriety in cluster.notoriety.all %}
                {{ notoriety }}{% if not forloop.last %}, {% endif %}
            {% endfor %}<br>
            <strong>{% trans "Liste des destinations" %} : </strong>
           <select class="form-control">
                {% for destination in destinations %}
                    <option value="{{ destination.code_dest }}">{{ destination.name_dest }}</option>
                {% empty %} 
                    <option>{% trans "Aucune destination associée" %}</option>
                {% endfor %}
            </select>
        </p>
    </div>
</div>

<a href="{% url 'clusters_list' %}" class="btn btn-primary mt-3">{% trans "Retour à la liste" %}</a>
{% endblock %}
