<!DOCTYPE html>
<html lang="fr">
{% load i18n %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Gestion des balades" %}</title>
    <!-- Bootstrap CSS -->
     <!-- Dans votre base.html ou form.html -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">

   {% block styles %} {% endblock %}
</head>
<body>
    <!-- Barre de menu horizontale -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <!-- Logo et marque à gauche -->
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="{% static 'images/logo.png'%}" alt="Logo"  height="80" class="d-inline-block align-top">
                {% trans "Gestion des balades" %}
            </a>
            <!-- Bouton pour le menu mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menu à droite -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item active">
                     <a class="nav-link" href="#">{{user.first_name}} {{user.last_name}}</a>
                    </li>
                    <li class="nav-item active">
                       <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn border-0 bg-transparent">
                        {% trans "Se déconnecter" %}
                        </button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login' %}">{% trans "Connexion" %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main role="main" class="container">
      <div>
        {% block content %}
        {% endblock %}
      </div>

    </main>

    <!-- Lien vers les fichiers JavaScript -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

   {% block script %}
   {% endblock %}
    {% if messages %}
    ><script>
        document.addEventListener('DOMContentLoaded', function() {
            let messagesText = '';
            let messageIcon = 'info'; // Icône par défaut

            {% for message in messages %}
                // Concaténer les messages s'il y en a plusieurs
                messagesText += '{{ message|escapejs }}\\n'; 

                // Déterminer l'icône en fonction du tag du message
                {% if message.tags == 'success' %}
                    messageIcon = 'success';
                {% elif message.tags == 'warning' %}
                    messageIcon = 'warning';
                {% elif message.tags == 'error' %}
                    messageIcon = 'error';
                {% endif %}
            {% endfor %}

            if (messagesText) {
                Swal.fire({
                    title: 'Notification',
                    html: messagesText.replace(/\\n/g, '<br>'), // Remplace les sauts de ligne par des <br> pour un meilleur affichage
                    icon: messageIcon,
                    confirmButtonText: 'OK',
                    confirmButtonColor: '#3085d6'
                });
            }
        });
    </script>
    {% endif %}
</body>
</html>
