{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="/static/css/comma_field..css">
<link rel="stylesheet" href="/static/css/popup_sweetAlert.css">
<link rel="stylesheet" href="/static/css/checkbox.css">
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Données de flux pour {{ destination }}</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% crispy flux_form %}
             
            </form>
        </div>
    </div>
</div>
{% if flux_form.errors %}
<div class="alert alert-danger">
    <strong>Erreurs dans le formulaire des données :</strong>
    <ul>
        {% for field, errors in data_form.errors.items %}
            {% for error in errors %}
                <li>{{field}} {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}

