{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Ajouter les données et flux pour {{ destination }}</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <h3>Données fonctionnelles</h3>
                {% crispy data_form %}
                <h3 class="mt-4">Flux</h3>
                {% crispy flux_form %}
                <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

