{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">{{ destination.code_dest }} - {{ destination.name_dest }}</h2>
        </div>
        <div class="card-body">
            <!-- Onglets -->
            <ul class="nav nav-tabs" id="destinationTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="destination-tab" data-bs-toggle="tab" data-bs-target="#destination" type="button" role="tab">{% trans "Destination" %}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="destination-data-tab" data-bs-toggle="tab" data-bs-target="#destination-data" type="button" role="tab">{% trans "Données Fonctionnelles" %}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="destination-flux-tab" data-bs-toggle="tab" data-bs-target="#destination-flux" type="button" role="tab">{% trans "Flux" %}</button>
                </li>
            </ul>
            <!-- Contenu des onglets -->
            <div class="tab-content" id="destinationTabsContent">
                <!-- Onglet Destination -->
                <div class="tab-pane fade show active" id="destination" role="tabpanel">
                    <div class="row mb-3">
                        <div class="col-md-1">
                            {% if destination.logo_dest %}
                                <img src="{{ destination.logo_dest.url }}" alt="{% trans 'Logo' %}" class="img-fluid rounded" style="max-height: 200px;">
                            {% else %}
                                <p>{% trans "Aucun logo disponible" %}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-5">
                            <h4>{% trans "Identité" %}</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>{% trans "Statut:" %}</strong> {{ destination.get_statut_dest_display }}</li>
                                <li class="list-group-item"><strong>{% trans "Destination Parent:" %}</strong> {{destination.code_parent}}</li>
                                <li class="list-group-item"><strong>{% trans "Code IGA:" %}</strong> {{ destination.code_IGA_dest }}</li>
                                <li class="list-group-item"><strong>{% trans "Adresse:" %}</strong> {{ destination.adress_dest }}</li>
                                <li class="list-group-item"><strong>{% trans "Région:" %}</strong> {{ destination.region_dest }}</li>
                                <li class="list-group-item"><strong>{% trans "Pays:" %}</strong> {{ destination.country_dest }}</li>
                                <li class="list-group-item"><strong>{% trans "Description:" %}</strong> {{ destination.desc_dest }}</li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <h4>{% trans "Responsables" %}</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>{% trans "Manager:" %}</strong> {{ destination.manager_dest|default:_("Non défini") }}</li>
                                <li class="list-group-item"><strong>{% trans "Référent:" %}</strong> {{ destination.referent_dest|default:_("Non défini") }}</li>
                                <li class="list-group-item"><strong>{% trans "Gestionnaire:" %}</strong> {{ destination.matcher_dest|default:_("Non défini") }}</li>
                                <li class="list-group-item"><strong>{% trans "Gestionnaire alternatif :" %}</strong> {{destination.matcher_alt_dest|default:_("Non défini") }}</li>
                                <li class="list-group-item"><strong>{% trans "Financier:" %}</strong> {{destination.finance_dest|default:_("Non défini") }}</li>
                            </ul>
                            <ul></ul>
                            <h4>{% trans "Courriels" %}</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>{% trans "Courriel de notification:" %}</strong> {{ destination.mail_notification_dest }}</li>
                                <li class="list-group-item"><strong>{% trans "Courriel de réponse:" %}</strong> {{destination.mail_response_dest}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h4>{% trans "Lieux ou Thèmes" %}</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>{% trans "Lieux ou thèmes:" %}</strong> {{ destination.list_places_dest }}</li>
                                <li class="list-group-item"><strong>{% trans "Minimum choix de lieux/thèmes:" %}</strong> {{ destination.mini_lp_dest }}</li>
                                <li class="list-group-item"><strong>{% trans "Maximum choix de lieux/thèmes:" %}</strong> {{ destination.max_lp_dest }}</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h4>{% trans "Dates de séjour" %}</h4>
                            <ul class="list-group list-group-flush">
                                {% if destination.flag_stay_dest %}
                                <li class="list-group-item"><strong>{% trans "Dates de séjour demandées:" %}</strong> {% trans "Oui" %}</li>
                                {% else %}
                                <li class="list-group-item"><strong>{% trans "Dates de séjour demandées:" %}</strong> {% trans "Non" %}</li>
                                {% endif %}
                                <li class="list-group-item"><strong>{% trans "Dispersion des dates en jours:" %}</strong> {{destination.dispersion_param_dest}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h4>{% trans "Centres d'intérêt" %}</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>{% trans "Minimum choix de centres d'intérêt:" %}</strong> {{ destination.mini_interest_center_dest }}</li>
                                <li class="list-group-item"><strong>{% trans "Maximum choix de centres d'intérêt:" %}</strong> {{ destination.max_interest_center_dest }}</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h4>{% trans "Accessibilité" %}</h4>
                            <ul class="list-group list-group-flush">
                                {% if destination.disability_dest %}
                                <li class="list-group-item"><strong>{% trans "Accessibilité:" %}</strong> {% trans "Oui" %}</li>
                                <li class="list-group-item"><strong>{% trans "Gestion du handicap:" %}</strong> {{destination.disability_libelle_dest}}</li>
                                {% else %}
                                <li class="list-group-item"><strong>{% trans "Accessibilité:" %}</strong> {% trans "Non" %}</li>
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 d-flex justify-content-end">
                            <a href="#" class="btn btn-warning me-2">{% trans "Mettre à jour" %}</a>
                        </div>
                    </div>
                </div>
                <!-- Onglet Données Fonctionnelles -->
                <div class="tab-pane fade" id="destination-data" role="tabpanel">
                    {% with data=destination.destination_data %}
                        {% if data %}
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <h4>{% trans "Données Fonctionnelles" %}</h4>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><strong>{% trans "Bénéficiaire des dons:" %}</strong> {{ data.beneficiaire_don_dest }}</li>
                                        <li class="list-group-item"><strong>{% trans "Proposition de don:" %}</strong> {{ data.donation_proposal_dest }} €</li>
                                        <li class="list-group-item"><strong>{% trans "PayPal:" %}</strong> <a href="{{ data.paypal_dest }}" target="_blank">{{ data.paypal_dest }}</a></li>
                                        <li class="list-group-item"><strong>{% trans "TripAdvisor:" %}</strong> <a href="{{ data.tripadvisor_dest }}" target="_blank">{{ data.tripadvisor_dest }}</a></li>
                                        <li class="list-group-item"><strong>{% trans "Google My Business:" %}</strong> <a href="{{ data.googlemybusiness_dest }}" target="_blank">{{ data.googlemybusiness_dest }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 d-flex justify-content-end">
                                    <a href="#" class="btn btn-info me-2">{% trans "Voir" %}</a>
                                    <a href="#" class="btn btn-warning">{% trans "Mettre à jour" %}</a>
                                </div>
                            </div>
                        {% else %}
                            <p>{% trans "Aucune donnée fonctionnelle disponible." %}</p>
                            <a href="#" class="btn btn-success">{% trans "Créer" %}</a>
                        {% endif %}
                    {% endwith %}
                </div>
                <!-- Onglet Flux -->
                <div class="tab-pane fade" id="destination-flux" role="tabpanel">
                    {% with flux=destination.destination_flux %}
                        {% if flux %}
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <h4>{% trans "Flux" %}</h4>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><strong>{% trans "Type de flux:" %}</strong> {{ flux.type_flux }}</li>
                                        <li class="list-group-item"><strong>{% trans "Statut:" %}</strong> {{ flux.statut_flux }}</li>
                                        <li class="list-group-item"><strong>{% trans "Date de création:" %}</strong> {{ flux.date_creation_flux }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 d-flex justify-content-end">
                                    <a href="#" class="btn btn-info me-2">{% trans "Voir" %}</a>
                                    <a href="#" class="btn btn-warning">{% trans "Mettre à jour" %}</a>
                                </div>
                            </div>
                        {% else %}
                            <p>{% trans "Aucun flux disponible." %}</p>
                            <a href="#" class="btn btn-success">{% trans "Créer" %}</a>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

