{% extends 'base.html' %}
{% load i18n %}
{% block title %}l
{% trans "Gestion des destinations" %} 
{% endblock %}
{% block styles %}
<style>
    /* Personnalisation supplémentaire si nécessaire */
    .custom-table th, .custom-table td {
      text-align: center;
      vertical-align: middle;
    }
  </style>
{% endblock %}

{% block content %}
    <h2>{% trans "Liste des destinations" %} </h2>
    <p><a href="{% url 'destination_create' %}">{% trans "Ajouter une destination" %}</a></p>
    <div class="container mt-5">
    <table class="table table-bordered custom-table">
      <thead>
        <tr>
          <th class="col-1">{% trans "Code cluster" %}</th>
          <th class="col-2">{% trans "Code destination" %}</th>
          <th class="col-4">{% trans "Nom" %}</th>
          <th class="col-1"></th>
          <th class="col-1"></th>
        </tr>
      </thead>
      <tbody>
        {% for destination in destinations %}
        <tr>
          <td>{{destination.code_cluster}}</td>
          <td>{{destination.code_dest}}</td>
          <td>{{destination.name_dest}}</td>
          <td><a href="{% url 'destination_detail' destination.pk %}">{% trans "Voir le détail" %} </a></td> 
          <td><a href="#">{% trans "Modifier" %} </a></td> 
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
        </tbody>
    </table>
{% endblock %}