
{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% trans "Gestion des Utilisateurs" %} 
{% endblock %}

{% block content %}
    <h2>{% trans "Liste des Greeters" %}</h2>
    <p><a href="{% url 'create_greeter' %}">{% translate "Ajouter un Greeter" %}</a></p>
    <table>
        <thead>
            <tr>
                <th>{% trans "Nom" %}</th>
                <th>{% trans "Prénom" %}</th>
                <th>{% trans "Email" %}</th>    
            </tr>
        </thead>
        <tbody>
            {% for greeter in greeters %}
            <tr>
                <td>{{ greeter.user.last_name }}</td>
                <td>{{ greeter.user.first_name }}</td>
                <td>{{ greeter.user.email }}</td>
                <td>{{greeter.user.id}}</td>
                <td>{{greeter.id}}</td>
                <td><img src="{{greeter.photo.url}}" alt= "{% trans 'Photo de profil' %}" style="max-width: 40px; max-height: auto;"/></td>
                
               <td><a href="{% url 'greeter_update' greeter.user.pk %}">{% trans "Modifier" %} </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
