{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans "Message de réinitialisation du mot de passe envoyé" %}</h2>
<p>{% trans "Tu recevras  par courriel les instructions pour changer de mot de passe, pour autant qu'un compte existe avec l'adresse que tu as indiquée. Tu devrais recevoir rapidement ce message." %}</p>

<p>{% trans "Si tu ne recois pas de message, vérifie que tu as saisi l'adresse avec laquelle tu es enregistré et contrôle ton dossier de pourriels." %}</p>
{% endblock %}