{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Définir ton mot de passe" %} {% endblock %}

{% block content %}
    <h2>{% trans "Définir ton mot de passe" %}</h2>
    {% if validlink %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Enregistrer le mot de passe" %}</button>
    </form>
    {% else %}
    <p>{% trans "Ce lien est invalide ou a déjà été utilisé. Veuillez demander une nouvelle création de compte" %}"</p>
    {% endif %}
{% endblock %}
