{% load crispy_forms_tags %}


<div class="field-with-help">
    
   
    {% crispy_field field %}

   
    <button type="button" class="btn btn-sm btn-outline-info help-text-button" data-bs-toggle="modal" data-bs-target="#{{ modal_id }}">
        <i class="bi bi-question-circle"></i> 
    </button>
</div>


<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ modal_id }}Label">Aide pour : {{ label }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ help_text|safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<style>
.field-with-help {
    position: relative;
}
.help-text-button {
    position: absolute;
    top: 0;
    left: calc(1em + 5px); /* Ajustez selon la taille de votre police */
    padding: 1px 5px;
    line-height: 1;
    border-radius: 50%;
    /* On décale le bouton après le label */
    transform: translateX(calc(100%)); 
}
/* Cibler le label généré par crispy pour obtenir sa largeur */
.field-with-help label {
    display: inline-block; /* Nécessaire pour que le positionnement fonctionne */
}

/* Ajustement pour que le bouton suive le label */
.field-with-help label + .help-text-button {
    left: auto;
    right: calc(100% + 5px - 16ch); /* Exemple, à ajuster finement */
}
</style>